<!doctype html>
<title>Python Flask Image Upload and Display Example</title>
<h2>Select an image to upload and display</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% endif %}
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<!-- <p>
			<input type="file" name="file" autocomplete="off" required>
		</p> -->
		<p>FirstName
			<input type="text" name="first_name" required>
		</p>

		<p>LastName
			<input type="text" name="last_name" required>
		</p>

		<p>Gender
			<input type="text" name="gender" required>
		</p>

		<p>Phone
			<input type="text" name="phone" required>
		</p>
		
		<p>Email
			<input type="text" name="email" required>
		</p>

		<p>Password
			<input type="text" name="enc_password" required>
		</p>

		<p>Genres
			<input type="text" name="genres" required>
		</p>

		<p>Plan
			<input type="text" name="plan" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>